@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Welcome!</h1>

<AuthorizeView>
    <Authorized>
        <p>Hello, <strong>@context.User.FindFirst("FullName")?.Value</strong>. You are signed in.</p>
    </Authorized>
</AuthorizeView>
